<h1 class="panel panel-header">
  <%= action_message %>
</h1>
<% if @ad.errors.any? %>
  <% @ad.errors.full_messages.each do |message| %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= message %>.
    </div>
  <% end %>
<% end %>

<%= form_for  @ad do |f| %>

<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "Título" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <%= f.label :price %>  
      <%= f.text_field :price, class: "form-control", placeholder: "Título" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label>Empresa</label>
      <% if @ad.company_part.nil? %>
        <%= collection_select :company_part, :company_id, Company.all, :id, :name,
        {prompt: "Selecione a empresa..."}, {class: "form-control", id:"idSelectEmpresa"} %>
      <% else %>
        <%= collection_select :company_part, :company_id, Company.all, :id, :name,
        {prompt: "Selecione a empresa...", selected: @ad.company_part.company_id}, {class: "form-control", id:"idSelectEmpresa"} %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label>Peça</label>
      <% if @ad.company_part.nil? %>
        <%= collection_select :company_part, :part_id, Part.all, :id, :description,
        {prompt: "Selecione a Peça..."}, {class: "form-control", id:"idSelectPart"} %>
      <% else %>
        <%= collection_select :company_part, :part_id, Part.all, :id, :description,
        {prompt: "Selecione a Peça...", selected: @ad.company_part.part_id}, {class: "form-control", id:"idSelectPart"} %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", rows: 5 %>
    </div>
  </div>
</div>



<%= submit_tag "#{t('buttons.send')}", class: "btn btn-default"  %>

<script type="text/javascript">
  $(document).ready(function(){
    var  idEmpresaValue = $("#idSelectEmpresa").val();
    var  idPartValue = $("#idSelectPart").val();   
      changeSelectEmpresaAjax();
 
  });

  //Quando o select é alterado o mesmo busca no banco as pecas
  //referente a empresa se a peca já não estiver selecionada.
  function changeSelectEmpresaAjax(){
    $("#idSelectEmpresa").on('change', function(){
      
      $.ajax({
          url:"<%=ads_js_get_part_by_company_part_path%>",
          type:"GET",
          data:{param_part: getValueSelected( $("#idSelectEmpresa"))},
          error: function(){
            console.log("AJAX Error: #{textStatus}")
          },
          success: function(data) {
          // var obj = $.parseJSON(data);
            var myJsonString = JSON.stringify(data);// Converte  array de json em obj
            var parts = JSON.parse(myJsonString);
            console.log(parts);
            removeAllOptionsSelect( $('#idSelectPart') );
            setParts(parts);
            // removeAllOptionsSelect( $('#idSelectParts') );//remove todos os select já carregados pelo sistema
            //setParts(parts);//Altera a lista do select para ser carregado com as novas options do sistema.
          }
        }); 



     });
  }
 

  function getValueSelected(contexto){
    var idObj = null;
    if(contexto!= null){
      idObj = contexto.val();
    }
    return idObj;
  }

  function setParts(parts){
    $.each(parts, function(index, option) {
      $option = $("<option></option>")
        .attr("value", option.id)
        .text(option.description);// Cria as options para montar o select 
        $("#idSelectPart").append($option);// insere as novas options para o select.
    }); 
  }

  function setCompanies(companies){
    $.each(companies, function(index, option) {
      $option = $("<option></option>")
        .attr("value", option.id)
        .text(option.name);// Cria as options para montar o select 
        $("#idSelectEmpresa").append($option);// insere as novas options para o select.
    }); 
  }
  

  function removeAllOptionsSelect(contexto){
    contexto.find('option').remove().end().append('<option>Selecione a peça...</option>'); // limpa os dados da peca
  }


</script>

<% end %>