<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @part.car %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @part.category %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
