<%= form_for(company_part) do |f| %>
  <% if company_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_part.errors.count, "error") %> prohibited this company_part from being saved:</h2>

      <ul>
      <% company_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %>
    <%= f.text_field :company_id %>
  </div>

  <div class="field">
    <%= f.label :part_id %>
    <%= f.text_field :part_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
