<h1 class="panel panel-header">
  <%= action_message %>
</h1>
<% if @company_part.errors.any? %>
<% @company_part.errors.full_messages.each do |message| %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <%= message %>.
</div>
<% end %>
<% end %>
<%= form_for(@company_part) do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    Anúncio
  </div>
  <div class="panel-body">
    <div class="col-lg-6">
      <div class="form-group">
        <label> Empresa</label>
        <%= f.collection_select :company_id, Company.all, :id, :name, {prompt:
          "Selecione a empresa..."}, {class: "form-control", required: true} %>
      </div>
      <div class="form-group">
        <label>Carro</label>
        <%= select_tag(:carro, options_for_select([['Carro1', 1], ['Carro2', 2]]
        ), {prompt: "Selecione o carro...", class: "form-control"})  %>
      </div>
      <div class="form-group">
        <label>Categoria</label>
        <%= select_tag(:category, options_for_select([['Categoria1', 1],
        ['Categoria2', 2]]), {prompt: "Selecione a categoria...",
          class: "form-control"})  %>
      </div>
      <div class="form-group">
        <label> Peça</label>
        <%= f.collection_select :part_id, Part.all, :id, :description,
        {prompt: "Selecione a peça..."}, {class: "form-control", required: true} %>
      </div>
      <%= f.fields_for :part_detail do |ff| %>
        <div class="form-group">
          <label> Preço </label>
          <%= ff.text_field :price, placeholder: 'Informe o valor unitário...',
          class: "form-control", required: true%>
        </div>
        <div class="form-group">
          <label> Estoque </label>
          <%= ff.text_field :quantity, placeholder: 'Informe a quantidadeem estoque...',
          class: "form-control", required: true  %>
        </div>
        <div class="form-group">
          <label> Negociável </label>
          <%= ff.select :negotiabel, ([['Sim', true], ['Não', false]]), {selected:['Não', false]
          },
          { required: true, class: "form-control"}%>
        </div>
      <% end %>
      <button type="submit" class="btn btn-default">Salvar</button>
    </div>
  </div>
</div>
<% end %>
</div>
