<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company_part.company %>
</p>

<p>
  <strong>Part:</strong>
  <%= @company_part.part %>
</p>

<%= link_to 'Edit', edit_company_part_path(@company_part) %> |
<%= link_to 'Back', company_parts_path %>
